.footer {
    border-top: 1px solid #EFEFEF;
    font-size: 12px;
    line-height: 14px;
    color: #8F8F8F;
}
.footer__wrapper {
    display: flex;
    padding: 20px 0 12px;
}
.footer__copyright {
    margin-right: 30px;
    display: flex;
    align-items: center;

    svg {
        margin-right: 5px;
    }
}
.footer__politics,
.footer__link {
    text-decoration: none;
}
.footer__link {
    color: #000000;
}
.footer__dev {
    margin-left: auto;
}