.sort-list {
    @include list-reset;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 19px;
    min-width: 174px;
    position: absolute;
    z-index: 1;
    background: white;
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        position: absolute;
        background-color: white;
        background-image: url('/img/sprite-toggle.svg');
        background-repeat: no-repeat;
        background-position: center;
        right: 5px;
        top: 7px;
        padding: 11px 15px 15px;
        z-index: 2;
    }

    &--open {
      border-radius: 4px;  

        .sort-list__item:not(:first-child) {
            display: block;
        }

        &::after {
            transform: rotate(180deg);
        }
    }
}
.sort-list__container {
    position: relative;
    min-width: 174px;
    height: 39px;
}
.sort-list__item:not(:first-child) {
    display: none;
}
.sort-list__item + .sort-list__item {
    margin-top: 10px;
}
.sort-list__button {
    appearance: none;
    border: none;
    background: none;
    padding: 12px 20px;
    color: #141312;
    font-size: 14px;
    line-height: 17px;

    svg {
        margin-right: 5px;
    }
}