<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ракета</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div style="display: none">
        <include src="build/img/sprite.svg"></include>
    </div>
    <header class="header">
        <div class="center-wrapper">
            <div class="header__wrapper">
                <div class="logo">
                    <svg width="64" height="52">
                        <use xlink:href="#sprite-logo"></use>
                    </svg>
                </div>
                <nav class="main-nav">
                    <ul class="nav-list">
                        <li class="nav-list__item">
                            <a href="#" class="nav-list__link">Почему мы?</a>
                        </li>
                        <li class="nav-list__item">
                            <a href="#" class="nav-list__link">Номера</a>
                        </li>
                        <li class="nav-list__item">
                            <a href="#" class="nav-list__link">Отзывы</a>
                        </li>
                        <li class="nav-list__item">
                            <a href="#" class="nav-list__link">Как нас найти</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="center-wrapper">
            <article class="catalog" id="catalog">
                <div class="catalog__header">
                    <h1>Наши номера</h1>
                    <div class="sort-list__container">
                        <button class="sort-list__toggle" title="Список фильтров">
                            <svg width="12" height="6">
                                <use xlink:href="#sprite-toggle"></use>
                            </svg>
                        </button>
                        <ul class="sort-list">
                            <li class="sort-list__item">
                                <button class="sort-list__button">
                                    <svg width="5" height="10" aria-label="От большего к меньшему">
                                        <use xlink:href="#sprite-arrow-up"></use>
                                    </svg>По площади
                                </button>
                            </li>
                            <li class="sort-list__item">
                                <button class="sort-list__button">
                                    <svg width="5" height="10" aria-label="От меньшего к большему">
                                        <use xlink:href="#sprite-arrow-down"></use>
                                    </svg>По площади
                                </button>
                            </li>
                            <li class="sort-list__item">
                                <button class="sort-list__button">
                                    <svg width="5" height="10" aria-label="От большего к меньшему">
                                        <use xlink:href="#sprite-arrow-up"></use>
                                    </svg>По цене
                                </button>
                            </li>
                            <li class="sort-list__item">
                                <button class="sort-list__button">
                                    <svg width="5" height="10" aria-label="От меньшего к большему">
                                        <use xlink:href="#sprite-arrow-down"></use>
                                    </svg>По цене
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="catalog__body">
                    <section class="catalog__filters filters">
                        <h2 class="visually-hidden">Фильтры каталога</h2>
                        <form class="filters-form">
                            <div class="filters-form__block">
                                <h3 class="filters-form__title">Цена за сутки, <span class="filters-form__symbol">₽</span></h3>
                                <div class="filters-form__row">
                                    <input type="text" class="filters-form__input" placeholder="от 100">
                                    <input type="text" class="filters-form__input" placeholder="до 600">
                                </div>
                            </div>
                            <div class="filters-form__block">
                                <h3 class="filters-form__title">Площадь</h3>
                                <input type="checkbox" class="visually-hidden" name="area" value="0,63" id="area-1" checked>
                                <label class="filters-form__checkbox" for="area-1">0,63 м2</label>
                                <input type="checkbox" class="visually-hidden" name="area" value="0,90" id="area-2">
                                <label class="filters-form__checkbox" for="area-2">0,90 м2</label>
                                <input type="checkbox" class="visually-hidden" name="area" value="1,13" id="area-3">
                                <label class="filters-form__checkbox" for="area-3">1,13 м2</label>
                                <input type="checkbox" class="visually-hidden" name="area" value="1,56" id="area-4">
                                <label class="filters-form__checkbox" for="area-4">1,56 м2</label>
                                <input type="checkbox" class="visually-hidden" name="area" value="2,56" id="area-5">
                                <label class="filters-form__checkbox" for="area-5">2,56 м2</label>
                                <input type="checkbox" class="visually-hidden" name="area" value="2,88" id="area-6">
                                <label class="filters-form__checkbox" for="area-6">2,88 м2</label>
                            </div>
                            <div class="filters-form__block">
                                <h3 class="filters-form__title">Оснащение номера</h3>
                                <input type="checkbox" class="visually-hidden" name="equipment" value="empty" id="equipment-1">
                                <label class="filters-form__checkbox" for="equipment-1">Пустой номер</label>
                                <input type="checkbox" class="visually-hidden" name="equipment" value="bed" id="equipment-2">
                                <label class="filters-form__checkbox" for="equipment-2">Лежак</label>
                                <input type="checkbox" class="visually-hidden" name="equipment" value="scratcher" id="equipment-3">
                                <label class="filters-form__checkbox" for="equipment-3">Когтеточка</label>
                                <input type="checkbox" class="visually-hidden" name="equipment" value="game" id="equipment-4">
                                <label class="filters-form__checkbox" for="equipment-4">Игровой-комплекс</label>
                                <input type="checkbox" class="visually-hidden" name="equipment" value="house" id="equipment-5">
                                <label class="filters-form__checkbox" for="equipment-5">Домик</label>
                            </div>

                            <input type="submit" class="filters-form__submit" value="Применить">
                            <button type="button" class="filters-form__reset">Сбросить фильтр</button>
                        </form>
                    </section>
                    
                    <section class="products">
                        <h2 class="visually-hidden">Каталог номеров</h2>
                        <ul class="products-list">
                            <li class="product-card" v-for="card in cards">
                                <div class="product-card__img">
                                    <img :src="card.image" alt="">
                                </div>
                                <div class="product-card__text">
                                    <h3 class="product-card__title">{{ card.title }}</h3>
                                    <ul class="product-card__description product-properties">
                                        <li class="product-properties__item product-properties__item--size" v-if="card.size">Размеры (ШхГхВ) - {{ card.size }}</li>
                                        <li class="product-properties__item product-properties__item--area">Площадь - {{ card.area }}</li>
                                        <li class="product-properties__item product-properties__item--equipment">Оснащение номера 
                                            <ul class="product-equipment">
                                                <li class="product-equipment__item" v-for="option in card.equipment">
                                                    <img :src="option.icon" :alt="option.text" :title="option.text">
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="product-properties__item product-properties__item--price">Цена за сутки: <span class="product-card__cost">{{ card.price }}₽</span></li>
                                    </ul>
                                    <button class="product-card__submit">Забронировать</button>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </article>
        </div>
    </main>

    <footer class="footer">
        <div class="center-wrapper">
            <div class="footer__wrapper">
                <span class="footer__copyright">
                    <svg width="9" height="9">
                        <use xlink:href="#sprite-copyright"></use>
                    </svg> 2020 Все права защищены
                </span>
                <a class="footer__politics" href="#">Политика конфиденциальности</a>
                <span class="footer__dev">Сделано в <a href="#" class="footer__link">Koteyka_Production</a></span>
            </div>
        </div>
    </footer>

    <script src="js/app.js"></script>
</body>

</html>