@charset "UTF-8";

@import "variables.scss";
@import "mixin.scss";
@import "blocks/header.scss";
@import "blocks/nav-list.scss";
@import "blocks/catalog.scss";
@import "blocks/sort-list.scss";
@import "blocks/filters-form.scss";
@import "blocks/products-list.scss";
@import "blocks/product-card.scss";
@import "blocks/footer.scss";
@import "blocks/product-equipment.scss";
@import "blocks/product-properties.scss";

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik-Medium'), local('Rubik-500'),
      url('../fonts/rubik-v10-latin_cyrillic-500.eot'),
      url('../fonts/rubik-v10-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
      url('../fonts/rubik-v10-latin_cyrillic-500.woff2') format('woff2'),
      url('../fonts/rubik-v10-latin_cyrillic-500.woff') format('woff'),
      url('../fonts/rubik-v10-latin_cyrillic-500.ttf') format('truetype'),
      url('../fonts/rubik-v10-latin_cyrillic-500.svg#Rubik') format('svg');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik-Bold'), local('Rubik-700'),
      url('../fonts/rubik-v10-latin_cyrillic-700.eot'),
      url('../fonts/rubik-v10-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
      url('../fonts/rubik-v10-latin_cyrillic-700.woff2') format('woff2'),
      url('../fonts/rubik-v10-latin_cyrillic-700.woff') format('woff'),
      url('../fonts/rubik-v10-latin_cyrillic-700.ttf') format('truetype'),
      url('../fonts/rubik-v10-latin_cyrillic-700.svg#Rubik') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
  src: local('Lato-Regular'),
      url('../fonts/Lato-Regular.eot'),
      url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Regular.woff2') format('woff2'),
      url('../fonts/Lato-Regular.woff') format('woff'),
      url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  font-style: normal;
  src: local('Lato-Medium'),
      url('../fonts/Lato-Medium.eot'),
      url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Medium.woff2') format('woff2'),
      url('../fonts/Lato-Medium.woff') format('woff'),
      url('../fonts/Lato-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  font-style: normal;
  src: local('Lato-Semibold'),
      url('../fonts/Lato-Semibold.eot'),
      url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Semibold.woff2') format('woff2'),
      url('../fonts/Lato-Semibold.woff') format('woff'),
      url('../fonts/Lato-Semibold.ttf') format('truetype');
}

*,
*::before,
*::after{
  box-sizing: border-box;
  backface-visibility: hidden;
}

*::selection {
  background-color: #3f5ca1;
  color: #fff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  font-family: $main-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: 'Rubik', 'Roboto', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #151B28;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

table {
  backface-visibility: visible;
}

td, th {
  padding: 20px;
  text-align: center;
  border: 1px solid #e1e1e1;
}

input,
textarea,
select{
  background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus{
  outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background: #f0f0f0;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  border: none;
  outline: none;
  appearance: none;
}

label,
button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-family: $main-text;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center-wrapper {
  border: 1px solid red;
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
}